{
    "env": {
      "browser": true,
      "es2021": true
    },
    "ignorePatterns": ["node_modules", "dist", "build"],
    "extends": ["airbnb", "airbnb/hooks", "plugin:react/jsx-runtime", "prettier"],
    "parser": "@babel/eslint-parser",
    "parserOptions": {
      "ecmaFeatures": {
        "jsx": true
      },
      "ecmaVersion": "latest",
      "babelOptions": {
        "configFile": "./babel.config.json"
      },
      "sourceType": "module"
    },
    "plugins": ["react", "jsx-a11y", "import", "react-hooks", "prettier"],
    "rules": {
      "react/state-in-constructor": 0,
      "indent": ["error", 2,  { "SwitchCase": 1 }],
      "prettier/prettier": "error",
      "linebreak-style": [0, "unix"],
      "quotes": ["error", "single"],
      "semi": ["error", "always"],
      "react/react-in-jsx-scope": "off",
      "react/prop-types": 0,
      "import/no-unresolved": [2, { "caseSensitive": false }],
      "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
      "import/order": [
        2,
        {
          "groups": [
            "builtin",
            "external",
            "internal",
            "parent",
            "sibling",
            "index"
          ],
          "newlines-between": "always"
        }
      ]
    },
    "settings": {
      "import/resolver": {
        "node": {
          "extensions": [".js", ".jsx", ".ts", ".tsx"],
          "moduleDirectory": ["node_modules", "src/"]
        }
      }
    }
  }